*,
*::before,
*::after{box-sizing:border-box;}
a{text-decoration:underline; color:inherit; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd, li {margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}
/* CSS Reset code provided by Elad Shechter */

html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  background-image: url("../images/LemonBackdrop.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
      "left right"
      "footer footer";
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

textarea, select, input, button {
  outline: none;
}

p {
  font-weight: 400;
}
.centered {
  text-align: center;
}


.left {
  grid-area: left;
  display: flex;
  justify-content: center;
}

.right {
  grid-area: right;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px;
}

.formSection {
  background: rgba(255,255,255,.6);
  padding: 50px;
  border-radius: 8px;
  width: 70%
}

.userInput {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-bottom: 15px;
}

.userInput input {
  border: none;
  border-bottom: 1px solid gray;
  line-height: 2em;
  text-align: center

}

label {
  font-size: 12px;
  color: grey;
  padding-bottom: 10px;
}


.leftSideText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  text-shadow:
    -1px -1px 0 white,  
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.brand {
  font-size: 2.5em;
  text-shadow:
    -1px -1px 0 white,  
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

h1 {
  font-size: 2em;
  padding-bottom: 20px;
  margin-bottom: 1em
}

.slogan {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  background-color: #ffd54f;
  border: 2px solid white;
  color: black;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 800; 
}

button:hover{
  background-color: #D68A36;
  color: white;
  transition: all 1s;
}

#invalidLogin {
  margin-top: 10px;
  color: red;
  font-weight: bold
}

footer {
  grid-area: footer;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #1c7599;
  text-decoration: none;
  font-size: 12px;
}

footer #copyright {
  color: #1c7599;
  text-decoration: none;
  font-size: 12px;
}

.footer {
  width: 100%;
  list-style-type: none;
  font-family: "Poppins", "sans-serif";
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 50px;
}

